<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/descargarInfo">
        <div>
            <label for="producto"></label>
            <input type="text" name="producto" id="producto" placeholder="Producto" required>
        </div>
        <div>
            <label for="limite"></label>
            <input type="number" name="limite" id="limite" placeholder="Limite" required>
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>